.slick-paging-ctrl {
  font-size: 0;
  position: relative;
  border: 10px solid #666;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1), 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: inline-block;
  margin: 0 auto;
  max-width: 820px;
  width: 100%;
}
.slick-paging-ctrl .slick {
  margin-bottom: 0;
}
.slick-paging-ctrl .slick-arrow {
  z-index: 5;
}
.slick-paging-ctrl .slick-next {
  right: 5px;
}
.slick-paging-ctrl .slick-prev {
  left: 5px;
}
.slick-paging-ctrl .slick-dots {
  bottom: 30px;
}
.slick-paging-ctrl .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 8px;
}
.slick-paging-ctrl .slick-dots li.slick-active button {
  opacity: 1;
}
.slick-paging-ctrl .slick-dots li button {
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
}
.slick-paging-ctrl .slick-dots li button:before {
  content: none;
}
.slick-paging-ctrl .slick-dots-progress {
  font-size: 0;
  display: flex;
  list-style: none;
}
.slick-paging-ctrl .slick-dots-progress li {
  list-style: none;
  margin: 0 4px;
  width: 70px;
  height: 4px;
  transition: 200ms background-color;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}
.slick-paging-ctrl .slick-dots-progress li.slick-active {
  background-color: rgba(255, 255, 255, 0.5);
}
.slick-paging-ctrl .slick-dots-progress button {
  font-size: 0;
  border: 0;
  text-indent: -999999rem;
  width: 0;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  display: block;
  background-color: #fff;
  transition-timing-function: linear;
}
.slick-paging-ctrl .slick-dots-progress button:before {
  content: none;
}
.slick-paging-ctrl .slick-ctrl {
  position: absolute;
  width: 100%;
  bottom: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-paging-ctrl .slick-ctrl-paging {
  margin-right: 0.5em;
}
.slick-paging-ctrl .slick-ctrl .slick-dots {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  right: auto;
  left: auto;
  bottom: auto;
}
.slick-paging-ctrl .slick-ctrl .btn {
  background-color: transparent;
  opacity: 0.8;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.8);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
}
.slick-paging-ctrl .slick-ctrl .btn.on {
  display: inline-flex;
}
.slick-paging-ctrl .progressBar {
  height: 4px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  background: #fff;
}
.slick-paging-ctrl .progressBar_wrap {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}
.slick-paging-ctrl .progressBar.on {
  animation-name: progBar;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes progBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}