$mediaquery: 1024px;

$bg_color: #f2f2f2;
$text_color: #555;
$title_color: #222;
$border_color: #ddd;
$arr_width: 50px; // 화살표 width 값
$arr_height: 40px; // pc 슬라이드 높이 + 화살표 높이
$arr_height_m: 30px; //모바일 화살표 w/h + 제목높이



.slick-paging-ctrl{
  font-size: 0;
  position: relative;
  border:20px solid #ddd;
  border-radius: 5px;
  display:inline-block;
  margin:0 auto;
  max-width: 840px;
  width:100%;
  .slick{
    margin-bottom:0;
  }
  .slick-ctrl{
    position: absolute;
    width: 100%;
    bottom:30px;
    font-size: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    .slick-ctrl-paging{
      margin-right: 0.5em;
    }
    .slick-dots{
      display:flex;
      align-items: center;
      position: relative;
      width:auto;
      right:auto;
      left:auto;
      bottom:auto;      
      li {
        &.slick-active button{
          opacity: 1;
        }
        width:auto;
        height:auto;
        margin:0 8px;
        button{
          margin:0;
          padding:0;
          width:8px;
          height:8px;
          border-radius: 50%;
          background-color:#fff;
          opacity: 0.5;
          &:before{content: none;}
        }
      }
    }
    .btn{
      background-color:transparent;
      opacity: 0.8;
      color:#fff;
      border:1px solid #fff;
      width:2rem;
      height:2rem;
      // font-size: 2rem;
      border-radius: 50%;
      display: none;      
      align-items: center;
      justify-content: center;
      &.on{        
        display:inline-flex;
      }
    }
  }
}